@model BookShop.Models.Language
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-light">
                افزودن زبان جدید
                <a href="/Admin/Languge/Index" class="float-left"><i class="fa fa-arrow-circle-left"></i>  بازگشت به لیست زبان ها   </a>
            </div>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="LanguageName" class="control-label"></label>
                            <input asp-for="LanguageName" class="form-control" />
                            <span asp-validation-for="LanguageName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card-footer clearfix bg-light text-right">
                    <button type="submit" class="btn btn-info float-left">افزودن زبان</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
