@model BookShop.Models.Language
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
    <div class="container-fluid">
        <form asp-action="Edit">
            @if (ViewBag.MsgFail != null)
            {
                <div class="alert alert-danger alert-dismissable ">
                    @ViewBag.MsgFail
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                </div>

            }
            @if (ViewBag.MsgSuc != null)
            {
                <div class="alert alert-success alert-dismissable">
                    @ViewBag.MsgSuc
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                </div>
            }
            <div class="row">

                <div class="card col-md-12">
                    <div class="card-header bg-light">
                        افزودن اطلاعات زبان
                        <a href="/Admin/Languge/Index" class="float-left"><i class="fa fa-arrow-circle-left"></i>  بازگشت به لیست زبان ها   </a>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="row">
                                <input type="hidden" asp-for="LanguageID" />
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" asp-for="LanguageName"></label>
                                        <input asp-for="LanguageName" class="form-control" placeholder=" نام">
                                        <span asp-validation-for="LanguageName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-light text-right">
                        <button type="submit" class="btn btn-success float-left"> ذخیره تغیرات</button>
                    </div>
                </div>

            </div>
        </form>
        <div class="col-md-4">

        </div>

    </div>

