@inject BookShop.Classes.ConvertDate convertDate
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>فروشگاه کتاب میزفا</title>
    <link rel="stylesheet" href="/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="~/css/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/jquery.bonsai.css">
    <link href="/select2/dist/css/select2.css" rel="stylesheet" />
    <link href="/css/bootstrap-fileinput.css" rel="stylesheet" />
    <link href="/css/TreeView.css" rel="stylesheet" />
    <link href="~/css/comboTreePlugin.css" rel="stylesheet" />
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper.js/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.md.bootstrap.datetimepicker.js"></script>
    <script src="~/js/jquery.inputmask.bundle.js"></script>
    <script src="/js/bootstrap-fileinput.js"></script>
</head>
<body class="sidebar-fixed header-fixed">
    <div class="page-wrapper">
        <nav class="navbar page-header">
            <div>
                <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
                    <i class="fa fa-bars"></i>
                </a>
                <a class="navbar-brand" href="#">
                    <img src="/images/logo-header.png" alt="logo" height="45">
                    فروشگاه کتاب میزفا
                </a>
                <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
                    <i class="fa fa-bars"></i>
                </a>
            </div>

            <ul class="navbar-nav ml-auto">
                <li>
                    @*<span>@convertDate.ConvertMiladiToShamsi(DateTime.Now, "dddd d MMMM yyyy")</span>*@
                </li>
                <li class="nav-item dropdown">
                   <partial name="_AdminLoginPartial"/>
                </li>

            </ul>
        </nav>
        <div class="main-container">
            <partial name="_AdminSidebar"/>
            <div class="content">
                @RenderBody()
            </div>
        </div>
    </div>
   
   
    <script src="/vendor/chart.js/chart.min.js"></script>
    <script src="/js/carbon.js"></script>
    <script src="/js/demo.js"></script>

    <script src="/select2/dist/js/select2.min.js"></script>
    <script src="/select2/dist/js/select2.full.js"></script>
    <script src="/js/TreeView.js"></script>
    <script src="~/js/comboTreePlugin.js"></script>
    <script src="~/js/icontains.js"></script>

    <script>

        // for select2
        $(".select2").select2({
            placeholder: "انتخاب کنید"
        });

        // for TreeView
        $('.demo1').bonsai();

    </script>
    @RenderSection("Scripts",false)
</body>
</html>
