@using Microsoft.AspNetCore.Identity
@using BookShop.Areas.Identity.Data
@inject SignInManager<ApplicationUser> signInManager
@inject IApplicationUserManager userManager


<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    @*<img src="/images/avatar-1.png" class="avatar avatar-sm" alt="logo">
    <span class="small ml-1 d-md-down-none">@await userManager.GetFullName(User)</span>*@
</a>
<div class="dropdown-menu dropdown-menu-right">
    <div class="dropdown-header">حساب کاربری</div>
    <a href="#" class="dropdown-item">
        <i class="fa fa-user"></i> پروفایل
    </a>
    <form asp-action="SignOut" asp-controller="Account" asp-area="">
        <button type="submit" class="btn btn-link dropdown-item">
            <i class="fa fa-lock"></i> خروج
        </button>
    </form>
</div>