@model BookShop.Models.Author
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="container-fluid">
    <form asp-action="Create">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-light">
                        افزودن اطلاعات نویسنده
                        <a href="/Admin/Aouther/Index" class="float-left"><i class="fa fa-arrow-circle-left"></i>  بازگشت به لیست کتاب ها   </a>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="row">
                                <input type="hidden" asp-for="AuthorID" />
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" asp-for="FirstName"></label>
                                        <input asp-for="FirstName" class="form-control" placeholder=" نام">
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="LastName" class="form-control-label"></label>
                                        <input asp-for="LastName" class="form-control" placeholder="نام خانوادگی">
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-light text-right">
                        <button type="submit" class="btn btn-success float-left"> ذخیره تغیرات</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

