
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:90px;">
    <h2 class="text-danger">شما اجازه دسترسی به این صفحه را ندارید !!!</h2>
</div>


