
@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="mt-5">
        <p class="alert alert-success">
            ایمیل شما با موفقیت تایید شد حالا می توانید با نام کاربری و کلمه عبور خود وارد سایت شوید.
        </p>
        <a asp-action="SingIn" asp-controller="Account" asp-area=""> ورود به سایت</a>
    </div>

