
@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:90px;">
    <p class="alert alert-success">
        ایمیل شما با موفقیت تایید شد حالا می توانید با نام کاربری و کلمه عبور خود وارد سایت شوید.
    </p>
</div>

