@model BookShop.Models.ViewModels.RegisterViewModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>عضویت در فروشگاه میزفا</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/fontawesome-all.min.css">
    <link href="~/css/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper.js/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.md.bootstrap.datetimepicker.js"></script>
    <script src='https://www.google.com/recaptcha/api.js?hl=fa'></script>
</head>
<body>
    <div class="page-wrapper flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card p-4">
                        <div class="text-center text-uppercase h4 font-weight-light">
                            عضویت در فروشگاه میزفا
                        </div>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger">

                        </div>
                        <form asp-action="Register">
                            <div class="card-body py-2">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-control-label" asp-for="UserName"></label>
                                            <input type="text" class="form-control" asp-for="UserName" placeholder="نام کاربری">
                                            <span asp-validation-for="UserName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-control-label" asp-for="Email"></label>
                                            <input type="text" class="form-control" asp-for="Email" placeholder="ایمیل">
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-control-label" asp-for="PhoneNumber"></label>
                                            <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="شماره موبایل">
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="BirthDate"></label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text cursor-pointer" id="BirthDate">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            <input asp-for="BirthDate" class="form-control" id="InputBirthDate" style="direction:ltr" />
                                            <span asp-validation-for="BirthDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-control-label" asp-for="Password"></label>
                                            <input class="form-control" asp-for="Password" placeholder="کلمه عبور">
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-control-label" asp-for="ConfirmPassword"></label>
                                            <input class="form-control" asp-for="ConfirmPassword" placeholder="تکرار کلمه عبور">
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="g-recaptcha" data-sitekey="@(Configuration.GetValue<string>("GoogleReCaptcha:ClientKey"))">

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-block">عضویت در سایت</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $("#BirthDate").MdPersianDateTimePicker({
            targetTextSelector: "#InputBirthDate",
            placement: 'top',
        });
    </script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
