@model BookShop.Models.ViewModels.SignInViewModel
@{
    Layout = null;
}

<!DOCTYPE html>


<style>
    .loginBtn {
        box-sizing: border-box;
        margin: 0.2em;
        padding: 0 15px 0 15px;
        line-height: 34px;
        border-radius: 0.2em;
        color: #FFF !important;
        border: none;
        cursor: pointer;
    }

        .loginBtn .fab {
            font-size: 25px;
            padding: 4px 0px;
        }
    /* Facebook */
    .loginBtn--facebook {
        background-color: #4C69BA;
        background-image: linear-gradient(#4C69BA, #3B55A0);
        text-shadow: 0 -1px 0 #354C8C;
    }

    /* Google */
    .loginBtn--google {
        background: #DD4B39;
    }

    .loginBtn--yahoo {
        background-color: #500095;
        border: 1px solid #350062;
    }

    .border-light {
        border-color: #dbdfe2 !important;
    }
</style>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>فروشگاه کتاب میزفا</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/vendor/font-awesome/css/fontawesome-all.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="page-wrapper flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card p-4">
                        <div class="card-header text-center text-uppercase h4 font-weight-light">
                            ورود به سایت
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row py-2">
                            <div class="col-md-6">
                                <form asp-action="SignIn">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label class="form-control-label" asp-for="UserName"></label>
                                            <input type="text" class="form-control" asp-for="UserName" placeholder="نام کاربری">
                                            <span asp-validation-for="UserName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label" asp-for="Password"></label>
                                            <input type="password" class="form-control" asp-for="Password" placeholder="کلمه عبور">
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label" asp-for="CaptchaCode"></label>
                                            <a id="GenerateCapcha" class="pr-2 text-primary" style="cursor:pointer;"><i class="fa fa-redo" style="font-size:12px" aria-hidden="true"></i></a>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <img id="img-captcha" src="~/get-captcha-image" />
                                                </div>
                                                <input type="text" class="form-control" placeholder="کد امنیتی" asp-for="CaptchaCode" maxlength="4" />
                                            </div>
                                            <span asp-validation-for="CaptchaCode" class="text-danger"></span>
                                        </div>
                                        <div class="custom-control custom-checkbox mt-4">
                                            <input type="checkbox" class="custom-control-input" id="login" asp-for="RememberMe">
                                            <label class="custom-control-label" for="login" asp-for="RememberMe"></label>
                                        </div>


                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-6">
                                                <button type="submit" class="btn btn-primary px-5">ورود به سایت</button>
                                            </div>
                                            <div class="col-6">
                                                <a asp-action="ForgetPassword" class="btn btn-link">فراموشی کلمه عبور ؟</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6  border-right border-light">
                                <div class="mt-5">
                                    <form asp-action="GetExternalLoginProvider">
                                        <button type="submit" class="loginBtn loginBtn--facebook btn-block" name="provider" value="FaceBook">
                                            <i class="fab fa-facebook float-left"></i>
                                            ورود با حساب فیسبوک
                                        </button>
                                        <button type="submit" class="loginBtn loginBtn--google btn-block" name="provider" value="Google">
                                            <i class="fab fa-google float-left"></i>
                                            ورود با حساب گوگل
                                        </button>
                                        <button type="submit" class="loginBtn loginBtn--yahoo btn-block" name="provider" value="Yahoo">
                                            <i class="fab fa-yahoo float-left"></i>
                                            ورود با حساب یاهو
                                        </button>
                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    $("#img-captcha,#GenerateCapcha").click(function () {
        d = new Date();
        $("#img-captcha").attr("src", "/get-captcha-image?" + d.getTime());
    });
</script>