<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
	   internallogfile="${basedir}/logs/internal-nlog.log">
      <!--internalLogFile="e:\temp\internal-nlog.log">-->
   


    <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="DefaultLayout" value="${longdate} | ${event-properties:item=EventId_Id} | ${level:uppercase=true:padding=5} | ${logger} | ${message} | ${exception:format=type,tostring} | ${callsite} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />

  <targets async="true">

    <!--<target xsi:type="File" name="LogFile" fileName="e:\temp\nlog-${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${message} | ${exception:format=tostring} | ${logger} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />-->

    <target xsi:type="File" name="LogFile" fileName="${basedir}/logs/nlog-${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${message} | ${exception:format=tostring} | ${logger} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />
    <target name="MailLogger" xsi:type="Mail"
                smtpServer="smtp.gmail.com"
                smtpPort="587"
                smtpAuthentication="Basic"
                subject="New Log"
                smtpUserName="lninomls9@gmail.com"
                smtpPassword="0925751499Al@"
                layout="[${longdate}] - [${level}] - [${message}] ${newline}"
                enableSsl="true"
                from="lninomls9@gmail.com"
                to="amirhosseinlakzaei2000@gmail.com"
          />
    <target xsi:type="ColoredConsole" name="ColorConsole" layout="${DefaultLayout}" />
    <!--<target xsi:type="ColoredConsole" name="ColorConsole" layout="${longdate} | ${level} | ${exception:format=type} : ${message} | ${callsite}"/>-->
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="ColorConsole" />
    <logger name="*" minlevel="Warn" writeTo="LogFile" />
    <logger name="*" minlevel="Warn" writeTo="MailLogger"/>
  </rules>
</nlog>