@model BookShop.Models.Author

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Admin.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-light">
                ویرایش اطلاعات نویسنده 
            </div>
            
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


