@model ReflectionIT.Mvc.Paging.PagingList<BookShop.Models.Author>
@using ReflectionIT.Mvc.Paging
@addTagHelper*,ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div id="modal-placeHolder">

</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-light">
                نویسندگان
            </div>
            <div class="card-body">
                <p>
                    <button data-url="@Url.Action("Create")" data-toggle='ajax-modal' class="btn btn-info btn-icon">
                        <i class="fa fa-plus text-white"></i> | افزودن نویسنده جدید
                    </button>
                </p>
                <div id="notification" data-url="@Url.Action("Notifacation")"></div>
                <div id="tableContent">
                    @await Html.PartialAsync("_AuthorsTable", Model);
                </div>
            </div>
        </div>
    </div>
</div>
