
@{
    Layout = null;
}
<link href="~/css/styles.css" rel="stylesheet" />
<script src="/vendor/jquery/jquery.min.js"></script>
<style>
    .al-404 {
        background-attachment: fixed;
        background-image: linear-gradient( rgba(22, 0, 10, .2), rgba(82, 66, 94, 0.9)), url('https://source.unsplash.com/1024x768/?road');
        background-position: center bottom;
        background-size: cover;
        height: 100vh;
    }

        .al-404 h2 {
            color: #fff;
            font-size: 80px;
        }

        .al-404 p {
            color: #dcdcdc;
            font-size: 18px;
        }
</style>
<section class="al-404">
    <div class="container-fluid">
        <div class="row">
            <div class="col d-table">
                <div class="al-404 text-center d-table-cell align-middle">
                    <h2 class="font-weight-bold mb-4"> ! oops</h2>
                    <p>صفحه مورد نظر یافت نشد !!!</p>
                    <a class="btn btn-warning mt-4" href="/Home/Index">صفحه اصلی</a>
                </div>
            </div>
        </div>
    </div>
</section>

