@model BookShop.Models.ViewModels.RolesViewModel
@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-light">
                افزودن نقش جدید
            </div>
                <form asp-action="AddRole">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row card-body mb-3">

                        <div class="col-md-7 form-group">
                            <div class="row">

                                <div class="col-md-12">
                                    <label asp-for="RoleName" class="control-label"></label>
                                </div>
                                <div class="col-md-9">
                                    <input asp-for="RoleName" class="form-control" />
                                    <span asp-validation-for="RoleName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 form-group">
                            <div class="row">

                                <div class="col-md-12">
                                    <label asp-for="Description" class="control-label"></label>
                                </div>
                                <div class="col-md-9">
                                    <textarea asp-for="Description" class="form-control"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="col-md-9">
                                <button type="submit" class="btn btn-info float-left">افزودن نقش</button>
                            </div>

                        </div>
                    </div>
                </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



