@model BookShop.Models.Provice
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="bg-light card-header">
                <div>
                    شهرهای استان @Model.ProvinceName
                </div>
                <div>
                    <a href="/Admin/Province/Index" class="float-left"><i class="fa fa-arrow-circle-left"></i>  بازگشت به لیست استان ها   </a>
                </div>

            </div>
            <div class="card-body">
                <p>
                    <a href="/Admin/City/Create/@Model.ProvinceID" class="btn btn-primary">افزودن شهر جدید</a>
                </p>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>نام شهر</th>
                            <th>
                                عملیات
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.City)
                        {
                            <tr>
                                <td>@item.CityName</td>
                                <td>
                                    <a href="/Admin/City/Edit/@item.CityID" class="btn btn-success btn-icon"><i class="fa fa-edit text-white"></i></a>
                                    <a href="/Admin/City/Delete/@item.CityID" class="btn btn-danger btn-icon"><i class="fa fa-trash text-white"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
