@model BookShop.Models.ViewModels.UploadLargeFileViewModel
@{
    ViewData["Title"] = "UploadLargeFile";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="card">
    <div class="card-header bg-light">
        آپلود فایل هایی با حجم بالا
    </div>
    <div class="card-body">
        <form asp-action="UploadLargeFile" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="File">
            <input type="submit" value="ارسال" class="btn btn-info" />
        </form>
    </div>
</div>