
@{
    ViewData["Title"] = "BannedBooks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:90px;">
    <h2 class="text-danger">کتاب های ممنوعه</h2>
    <h5>فقط افراد 18+ سال می توانند به این کتاب ها دسترسی داشته باشند.</h5>
</div>

