@model BookShop.Models.Provice
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-light">
                افزودن استان جدید
                <a href="/Admin/province/Index" class="float-left"><i class="fa fa-arrow-circle-left"></i>  بازگشت به لیست استان ها   </a>
            </div>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="hidden" asp-for="ProvinceID" />
                            <label asp-for="ProvinceName" class="control-label"></label>
                            <input asp-for="ProvinceName" class="form-control" />
                            <span asp-validation-for="ProvinceName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card-footer clearfix bg-light text-right">
                    <button type="submit" class="btn btn-info float-left">افزودن استان</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

