@model BookShop.Models.Provice
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="container-fluid">
    <form asp-action="Edit">
        @if (ViewBag.MsgFail != null)
        {
            <div class="alert alert-danger alert-dismissable ">
                @ViewBag.MSGFail
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>

        }
        @if (ViewBag.MSGSuc != null)
        {
            <div class="alert alert-success alert-dismissable">
                @ViewBag.MSGSuc
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
        }
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-light">
                        افزودن اطلاعات استان

                        <a href="/Admin/Province/Index" class="float-left"><i class="fa fa-arrow-circle-left"></i>  بازگشت به لیست استان ها    </a>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="row">
                                <input type="hidden" asp-for="ProvinceID" />
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" asp-for="ProvinceName"></label>
                                        <input asp-for="ProvinceName" class="form-control" placeholder=" نام">
                                        <span asp-validation-for="ProvinceName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-light text-right">
                        <button type="submit" class="btn btn-success float-left"> ذخیره تغیرات</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


</div>


